/***************************************************************************/ /* CORES E VARIAVEIS ESTILOS */ /*************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Definição de variáveis globais */
:root {
  /* Cores */
  --Backgrounds-Color-01: #FCFEFB;
  --Backgrounds-Color-02: #FCFCFD;
  --Backgrounds-Color-03: #F8FAF6;
  --Backgrounds-Color-04: #F9F9FB;
  --Interactive-Components-01: #EEF4E9;
  --Interactive-Components-02: #EFF0F3;
  --Interactive-Components-03: #E4ECDC;
  --Interactive-Components-04: #E7E8EC;
  --Interactive-Components-05: #D7E3CC;
  --Interactive-Components-06: #E0E1E6;
  --Borders-and-Separators-01: #C7D6B9;
  --Borders-and-Separators-02: #D8D9E0;
  --Borders-and-Separators-03: #B2C59F;
  --Borders-and-Separators-04: #CDCED7;
  --Borders-and-Separators-05: #94AD7A;
  --Borders-and-Separators-06: #B9BBC6;
  --Solid-Colors-01: #7D9860;
  --Solid-Colors-02: #8B8D98;
  --Solid-Colors-03: #718C54;
  --Solid-Colors-04: #80828D;
  --Accessible-Text-01: #5C753F;
  --Accessible-Text-02: #62636C;
  --Accessible-Text-03: #2F3726;
  --Accessible-Text-04: #1E1F24;

}

/* Fonte padrão para todo o corpo do documento */
html,
body {
    font-family: 'Ubuntu', 'Ariel';
    width: 100%;
    height: 100%;
    position: relative;
}

.text-shadow {
  text-shadow: 4px 4px 10px var(--Borders-and-Separators-01);
}


/* BARRA DE MENU ESTILO */

header .navbar {
  display: flex;
  position: fixed;
  justify-items: center;
  justify-content: space-between;
  top: 0;
  width: 100%;
  height: 50px;
  color: var(--Accessible-Text-04);
  background-color: var(--Interactive-Components-05);
  padding: 16px;
  z-index: 1000;
}

nav li :hover {
  pointer-events: initial;
  background-color: var(--Backgrounds-Color-04);
  border-radius: 50px;
  padding: 5px;
}


/* Section inicio part 1 da pagina styler*/

section#inicio {
  position: relative;
}

#part1{
  background-color: var(--Backgrounds-Color-01);
  width: 100%;
  height: 80vh;
  margin-top: 30px;
  padding: 50px;
}
#part1 .row {
  margin-bottom: 30px; 
}

#part1 h2 {
  font-size: 2rem;
  color: var(--Accessible-Text-01);
  text-align: center;
  margin-bottom: 20px;
}
#part1 h2 .badge {
  color: var(--Accessible-Text-04);
  padding: 5px 10px; 
}

#carouselVideos {
  margin-bottom: 30px;
  margin: 30px;
}
.carousel-control-prev,
.carousel-control-next {
    border-radius: 50%; 
    border: none; 
    line-height: 50px; 
    font-size: 24px; 
    color: var(--Accessible-Text-04); 
    cursor: pointer; 
}


#part1 p{
  font-size: 18px;
  line-height: 1.6;
  color: var(--Accessible-Text-03);
  background-color: var(--Borders-and-Separators-01);
  border-radius: 5px;
  padding: 20px;
}

#part1 #carouselVideos img{
  margin: 20px;
  padding: 20px;
  width: auto;
  height: 500px;
}

/* sectin inicio part 2 */
#part2 {
  background-color: var(--Backgrounds-Color-04);
  width: 100%;
  height: 90vh;
  padding: 50px; 
}

 #part2 h3 {
  font-size: 2rem;
  color: var(--Accessible-Text-01);
  margin-bottom: 20px;
}
#part2 .row {
  margin-bottom: 30px; 
}

#part2 img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

#part2 p {
  font-size: 18px;
  color: var(--Accessible-Text-04);
  line-height: 1.6;
  align-items: center;
  margin: 10px;
}

/* section inicio part3 */
#part3 {
  background-color: var(--Backgrounds-Color-01);
  width: 100%;
  height: 90vh;
  padding: 50px; 
}



#part3 h3 {
  font-size: 2rem;
  color: var(--Accessible-Text-01);
  margin-bottom: 20px;
}
#part3 .row {
  margin-bottom: 30px; 
}

#part3 img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

#part3 p {
  font-size: 18px;
  color: var(--Accessible-Text-04);
  line-height: 1.6;
  align-items: center;
  margin: 10px;
}

/* section inicio part 4*/
#part4 {
  background-color: var(--Backgrounds-Color-04);
  width: 100%;
  height: 70vh;
  margin-top: 30px;
  padding: 50px;
}

#part4 h2 {
  font-size: 2rem;
  color: var(--Accessible-Text-01);
  text-align: center;
  margin-bottom: 20px;
}
#part4 p {
  font-size: 18px;
  color: var(--Accessible-Text-04);
  line-height: 1.6;
  align-items: center;
  margin: 20px;
}
.card {
  margin-bottom: 20px; 
  border: none; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px var(--Borders-and-Separators-01); 
  margin: 5px;
}
.card-img-top {
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px; 
}
.card-title {
  font-size: 18px; 
  color: var(--Accessible-Text-04); 
}
.card-text {
  font-size: 14px; 
  color:var(--Accessible-Text-03); ; 
}

.card-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}




/* Footer */
#footer {
  color: var(--Accessible-Text-04);
  font-size: 14px;
  width: 100%;
  background-color: var(--Borders-and-Separators-01);
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 14px 0; 
  box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.1); 
}




@media (max-width: 768px) {
  #part2 #part3 #part4 .col-md-4,
  #part2 #part3 #part4 .col-md-8 {
      text-align: center; /* Centraliza o conteúdo em dispositivos menores */
  }

  #part2 #part3 #part4 img {
      margin-bottom: 20px; /* Espaçamento inferior para imagens em dispositivos menores */
  }
}